<p>Xin chào,</p>
<p>Bạn vừa yêu cầu đặt lại mật khẩu. Nhấn vào liên kết sau để đặt lại mật khẩu:</p>
<p><a href="{{resetUrl}}">{{resetUrl}}</a></p>
<p>Nếu bạn không yêu cầu, hãy bỏ qua email này.</p> 